<div class="container">
    <div class="row">
 

        <div class="card">
            <div class="card-header">MUST DEVOUR</div>
                <div class="card-body">
                    <p class="card-title">
                        {{#each burger_data}}
                        {{#unless this.devoured}}
                        <div class="col-xs-9 text-center">
                            <pre>{{this.id}}. {{this.burger_name}}</pre>
                        </div>
                    </p>
                <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                    <br>
                    <button type="submit" class="btn btn-primary">DEVOUR IT</button>
                </form>  
                {{/unless}}
                {{/each}}
                </div>
            </div>

<div class="card">
  <div class="card-header">
    DEVOURED
  </div>
  <div class="card-body">
    <p class="card-title"></p>
            {{#each burger_data}}
                {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}
  </div>
</div>
  
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </form>
            <p>Enter a burger you like to devour!</p>
        </div>
    </div>
</div>